<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息添加</title>
    <link href="./template/css/style.css" rel="stylesheet" type="text/css" />
    <link href="./template/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./template/js/jquery.js"></script>
    <script type="text/javascript" src="./template/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="./template/js/select-ui.min.js"></script>
    <script type="text/javascript" src="./template/kindeditor/kindeditor-all-min.js"></script>
    <link rel="stylesheet" href="./template/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="./template/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="./template/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#EditContent', {
                allowFileManager: true
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
        });
    </script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="./?Action=Item">内容列表</a></li>
    <li>内容添加</li>
    </ul>
    </div>
    
    <div class="formbody">

    <div id="usual1" class="usual"> 
    
    <div class="itab">
  	<ul> 
    <li><a href="#tab1" class="selected">内容提交</a></li>

  	</ul>
    </div> 
    
  	<div id="tab1" class="tabson">

    <ul class="forminfo">
        <form action="./?Action=Item&Method=AddSave" method="post">
            <li><label>标题<b>*</b></label><input name="Item_Title" type="text" class="dfinput" value=""  style="width:518px;"/></li>

            <li><label>分类<b>*</b></label>
            <div class="vocation">
                <select name="Item_Type" class="select1">
                    <option value="0">请选择</option>
                    <?php
                    if(is_array($List))
                    {
                      foreach($List as $key => $value)
                        {
                          echo '<option value="'.$value['Type_ID'].'">'.$value['Type_Name'].'</option>';
                        }
                       }
                    ?>
                </select>
            </div>
            </li>

            <li><label>作者<b>*</b></label><input name="Item_Author" type="text" class="dfinput" value=""  style="width:518px;"/></li>
            <li><label>来源<b>*</b></label><input name="Item_Source" type="text" class="dfinput" value=""  style="width:518px;"/></li>
            <li><label>序列<b>*</b></label><input name="Item_Sort" type="text" class="dfinput" value=""  style="width:518px;"/></li>



            <li><label>添加内容<b>*</b></label>
                <textarea id="EditContent" name="Item_Content" style="width:700px;height:350px;visibility:hidden;"></textarea>
            </li>



                <li><label>状态<b>*</b></label>
                    <label><input name="Item_State" type="radio" value="1" checked/>已审核</label>
                    <label><input name="Item_State" type="radio"  value="0" />未审核</label>
                </li>
            <li><label>&nbsp;</label><input type="submit" class="btn" value="提交添加"/></li>
        </form>
    </ul>
    
    </div>
	</div> 
 
	<script type="text/javascript"> 
      $("#usual1 ul").idTabs(); 
    </script>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

    </div>
</body>

</html>
