<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>({$WebBaseInfo.WebTitle})</title>
<meta name="Keywords" content="({$WebBaseInfo.WebKeyword})"/>
<meta name="Description" content="({$WebBaseInfo.WebDescribe})" />
<link href="./template/css/css.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="./template/images/favicon.ico"/>
<!-- flash幻灯 -->
<script language="javascript" type="text/javascript" src="./template/js/flash.js"></script>
<body>
<!-- header begin -->
<div class="bg_header all_width">
<!-- commonheader-top -->
  <div class="common" id="header-top">
    <div class="left">欢迎访问中国银杏嘉年华！</div>
     <div class="right"><a href="javascript:" onFocus="this.blur()" onclick="window.external.addFavorite('http://www.e5c.net','中国银杏嘉年华')">设为首页</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:" onFocus="this.blur()" onclick="var strHref=window.location.href;this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.e5c.net');">加入收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="./?act=about&m=index&id=113" title="人才招聘" onFocus="this.blur()">人才招聘</a></div>
  </div>
<!-- common header-top -->
<!-- common header-bottom-->
  <div class="common" id="header-bottom">
     <div class="left logo"><a href="./" title="中国银杏嘉年华" onFocus="this.blur()"><img src="./template/images/logo.gif" alt="中国银杏嘉年华" /></a></div>
     <div class="right menu">
        <a href="./" title="网站首页" onFocus="this.blur()" id="on-menu">网站首页</a>
        <span>&nbsp;</span>
        <a href="./?act=about" title="关于我们" onFocus="this.blur()">关于我们</a>
        <span>&nbsp;</span>
        <a href="./?act=news" title="新闻中心" onFocus="this.blur()">新闻中心</a>
        <span>&nbsp;</span>
        <a href="./?act=product" title="公司产品" onFocus="this.blur()">公司产品</a>
        <span>&nbsp;</span>
        <a href="./?act=item" title="项目介绍" onFocus="this.blur()">项目介绍</a>
        <span>&nbsp;</span>
        <a href="./?act=activity" title="活动中心" onFocus="this.blur()">活动中心</a>
        <span>&nbsp;</span>
        <a href="./?act=message" title="在线留言" onFocus="this.blur()">在线留言</a>
        <span>&nbsp;</span>
        <a href="./?act=contact" title="联系我们" onFocus="this.blur()">联系我们</a>
     </div>
  </div>
    <!-- common header-bottom-->