 <dl class="about_dl">
         <dt>Q</dt>
         <dd class="about_dl_dd1">快速通道</dd>
         <dd class="about_dl_dd2">QUICK</dd>
      </dl>
      <ul class="about_ul">
         <li><a href="./?act=honor" title="" onFocus="this.blur()">企业荣誉</a></li>
         <li><a href="./?act=about&m=index&id=113" title="" onFocus="this.blur()">人才招聘</a></li>
      </ul>
      <dl class="about_dl">
         <dt>C</dt>
         <dd class="about_dl_dd1">联系我们</dd>
         <dd class="about_dl_dd2">CONTACT US</dd>
      </dl>
      <ul class="about_ual">
         <li id="ual_li1">SERVICES  |  客服服务热线</li>
         <li><img src="./template/Images/Products_r14_c3.jpg" /></li>
         <li class="ul_tl">电 话：({$WebBaseInfo.WebMobile|stripcslashes})</li>
         <li class="ul_tl">传 真：({$WebBaseInfo.WebFax|stripcslashes})</li>
         <li class="ul_tl">邮 箱：({$WebBaseInfo.WebEmail|stripcslashes})</li>
      </ul>