<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>信息添加</title>
    <link href="./template/css/style.css" rel="stylesheet" type="text/css" />
    <link href="./template/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./template/js/jquery.js"></script>
    <script type="text/javascript" src="./template/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="./template/js/select-ui.min.js"></script>
    <script type="text/javascript" src="./template/kindeditor/kindeditor-all-min.js"></script>
    <link rel="stylesheet" href="./template/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="./template/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="./template/kindeditor/lang/zh-CN.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#EditContent', {
                allowFileManager: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
        });
    </script>
</head>

<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="./?Action=Poster">内容列表</a></li>
        <li>内容修改</li>
    </ul>
</div>

<div class="formbody">
    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">修改内容</a></li>
            </ul>
        </div>

        <div id="tab1" class="tabson">
            <form action="./?Action=Poster&Method=EditSave" enctype="multipart/form-data" method="post">
                <ul class="forminfo">
                    <li><label>标题<b>*</b></label><input name="Poster_Title" type="text" value="<?php echo $Info['Poster_Title'];?>" class="dfinput" style="width:518px;"/></li>
                    <?php echo $Info['Poster_Type'];?>
                    <li><label>分类<b>*</b></label>
                        <div class="vocation">
                            <select name="Poster_Type" class="select1">
                                <option value="0">请选择</option>
                          <?php
                           if(is_array($List))
                            {
                                foreach($List as $key => $value)
                                    {
                                        if($value['Type_ID']==$Info['Poster_Type'])
                                        {
                                            $Str='selected';
                                        }
                                        echo '<option  '.$Str.' value="'.$value['Type_ID'].'">'.$value['Type_Name'].'</option>';
                                    }
                                }
                            ?>
                            </select>
                        </div>
                    </li>
                    <li><label>链接<b>*</b></label><input name="Poster_Url" type="text" value="<?php echo $Info['Poster_Url'];?>" class="dfinput" style="width:518px;"/></li>

                    <li>
                        <label>上传图片<b>*</b></label>
                        <input name="Poster_PicPath" type="file" class="dfinput" style="width:518px;"/>
                        <?php
                     if(!empty($Info['Poster_PicPathBig']))
                     {
                      ?>
                        <a href="../<?php echo $Info['Poster_PicPathBig'];?>" target="_blank">预览</a>
                        <?php
                      }?>
                    </li>
                    <li><label>序列<b>*</b></label><input name="Poster_Sort" type="text" class="dfinput" value="<?php echo $Info['Poster_Sort'];?>" style="width:518px;" onkeyup="this.value=this.value.replace(/\D/g,'')"/></li>
                    <li>
                        <label>类型<b>*</b></label>
                        <label><input type="radio" name="Poster_Class" value="1" <?php if($Info['Poster_Class']==1){echo 'checked';}?> /> 图片类型</label>
                        <label><input type="radio" name="Poster_Class" value="2" <?php if($Info['Poster_Class']==2){echo 'checked';}?> />文字类型</label>
                    </li>

                    <li>
                        <label>状态<b>*</b></label>
                        <label><input type="radio" name="Poster_State" value="1" <?php if($Info['Poster_State']==1){echo 'checked';}?> /> 已审核</label>
                        <label><input type="radio" name="Poster_State" value="0" <?php if($Info['Poster_State']==0){echo 'checked';}?> />  未审核</label>
                    </li>
                    <li>
                        <label>&nbsp;</label>
                        <input type="hidden" value="<?php echo $Info['Poster_ID'];?>" name="Poster_ID"/>
                        <input type="submit" class="btn" value="立即修改"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</div>
</body>
</html>
