<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="./template/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="./template/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>后台管理系统</div>
    <dl class="leftmenu">
    <dd>
    <div class="title">
    <span><img src="./template/images/leftico01.png" /></span>管理信息
    </div>
    	<ul class="menuson">
            <li class="active"><cite></cite><a href="./?Action=Template&Method=Main" target="rightFrame">系统首页</a><i></i></li>
            <li><cite></cite><a href="./?Action=About&Method=Index" target="rightFrame">关于我们</a><i></i></li>
            <li><cite></cite><a href="./?Action=Honor&Method=Index" target="rightFrame">企业荣誉</a><i></i></li>
            <li><cite></cite><a href="./?Action=News&Method=Index" target="rightFrame">新闻中心</a><i></i></li>
            <li><cite></cite><a href="./?Action=Product&Method=Index" target="rightFrame">产品中心</a><i></i></li>
            <li><cite></cite><a href="./?Action=Item&Method=Index" target="rightFrame">项目介绍</a><i></i></li>
            <li><cite></cite><a href="./?Action=Activity&Method=Index" target="rightFrame">活动中心</a><i></i></li>
            <li><cite></cite><a href="./?Action=Message&Method=Index" target="rightFrame">在线留言</a><i></i></li>
            <li><cite></cite><a href="./?Action=Poster&Method=Index" target="rightFrame">广告管理</a><i></i></li>
            <li><cite></cite><a href="./?Action=Project&Method=Index" target="rightFrame">银杏项目</a><i></i></li>
            <li><cite></cite><a href="./?Action=LatestNews&Method=Index" target="rightFrame">最新资讯</a><i></i></li>
        </ul>
    </dd>
    <dd>

    <div class="title">
    <span><img src="./template/images/leftico01.png" /></span>分类管理
    </div>
        <ul class="menuson">
            <li><cite></cite><a href="./?Action=NewsType" target="rightFrame">新闻分类</a><i></i></li>
            <li><cite></cite><a href="./?Action=ProductType" target="rightFrame">产品分类</a><i></i></li>
            <li><cite></cite><a href="./?Action=ItemType" target="rightFrame">项目分类</a><i></i></li>
            <li><cite></cite><a href="./?Action=PosterType" target="rightFrame">广告分类</a><i></i></li>
            <li><cite></cite><a href="./?Action=ActivityType" target="rightFrame">活动分类</a><i></i></li>
            <li><cite></cite><a href="./?Action=LatestNewsType" target="rightFrame">最新资讯分类</a><i></i></li>
        </ul>
    </dd>

    <dd>
    <div class="title"><span><img src="./template/images/leftico02.png" /></span>系统管理</div>
        <!--<ul class="menuson">
            <li><cite></cite><a href="./?Action=System" target="rightFrame">基本信息配置</a><i></i></li>
        </ul>-->
        <ul class="menuson">
            <li><cite></cite><a href="./?Action=System" target="rightFrame">基本信息配置</a><i></i></li>
            <li><cite></cite><a href="./?Action=Admin" target="rightFrame">后台管理员</a><i></i></li>
        </ul>
    </dd>

    </dl>
        
    
    <!--<dd>-->
    <!--<div class="title">-->
    <!--<span><img src="./template/images/leftico02.png" /></span>其他设置-->
    <!--</div>-->
    <!--<ul class="menuson">-->
        <!--<li><cite></cite><a href="#">编辑内容</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">发布信息</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">档案列表显示</a><i></i></li>-->
        <!--</ul>     -->
    <!--</dd> -->
    <!-- -->
    <!-- -->
    <!--<dd><div class="title"><span><img src="./template/images/leftico03.png" /></span>编辑器</div>-->
    <!--<ul class="menuson">-->
        <!--<li><cite></cite><a href="#">自定义</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">常用资料</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">信息列表</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">其他</a><i></i></li>-->
    <!--</ul>    -->
    <!--</dd>  -->
    <!-- -->
    <!-- -->
    <!--<dd><div class="title"><span><img src="images/leftico04.png" /></span>日期管理</div>-->
    <!--<ul class="menuson">-->
        <!--<li><cite></cite><a href="#">自定义</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">常用资料</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">信息列表</a><i></i></li>-->
        <!--<li><cite></cite><a href="#">其他</a><i></i></li>-->
    <!--</ul>-->
    <!-- -->
    <!--</dd>   -->
    

    
</body>
</html>
