<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>列表显示</title>
<link href="./template/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./template/js/jquery.js"></script>
<script type="text/javascript" src="./template/js/admin.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });

  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});
});
</script>
</head>

<body>
	<div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="./?Action=Admin">管理员列表</a></li>
        </ul>
    </div>
    
    <div class="rightinfo">
    <div class="tools">
    	<ul class="toolbar">
            <li><a href="./?Action=Admin&Method=Add"><span><img src="./template/images/t01.png" /></span>添加</a></li>

        </ul>

        <ul class="seachform">
            <form method="get">
            <input type="hidden" name="Action" value="Admin"/>
            <li><label>综合查询</label><input name="Key" type="text" class="scinput" /></li>
            <li><label>&nbsp;</label><input type="submit" class="scbtn" value="查询"/></li>
            </form>
        </ul>

        <ul class="toolbar1">
            <li style="cursor: pointer;" onclick="AllDelCheck();"><span><img src="./template/images/t03.png" /></span>批量删除</li>
        </ul>
    </div>




    
    <table class="tablelist">
        <form id="MyForm" action="./?Action=Admin&Method=Del" method="post">
    	<thead>
        <tr>
            <th width="4%"><input type="checkbox" onclick="AllCheckBoxCheck(this)"/></th>
            <th width="6%">管理员ID</th>
            <th>管理员姓名</th>
            <th width="15%">注册时间</th>
            <th width="10%">是否审核</th>
            <th width="10%">操作</th>
        </tr>
        </thead>

        <tbody id="list">
<?php
if(is_array($List))
{
    foreach($List as $key => $value)
    {
?>
        <input type="hidden" value="<?php echo $value['Admin_ID'];?>" name="CommonID[]">
        <tr>
            <td><input name="Del_ID[]" type="checkbox" value="<?php echo $value['Admin_ID'];?>" /></td>
            <td><?php echo $value['Admin_ID'];?></td>
            <td><?php echo $value['Admin_Name'];?></td>
            <td><?php echo date('Y-m-d H:i',$value['Admin_Time']);?></td>
            <td>
                <?php echo !$value['Admin_State']?'已审核':'未审核';?>
            </td>
            <td>
                <a href="./?Action=Admin&Method=Edit&ID=<?php echo $value['Admin_ID'];?>" class="tablelink">修改</a>
                <a href="javascript:DelList('./?Action=Admin&Method=Del&ID=<?php echo $value['Admin_ID'];?>')" class="tablelink"> 删除</a>
            </td>
        </tr>
<?php
    }
}
?>
        </tbody>
        </form>
    </table>
    
   
    <div class="pagin">
    	<div class="message">共 <i class="blue"><?php echo $ListCount;?> </i>条记录，当前显示第&nbsp;<i class="blue"><?php echo $p;?></i>&nbsp;页</div>
        <ul class="paginList">
            <?php echo $Show;?>
        </ul>
    </div>

    <!--JS弹出窗口Begin-->
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        <div class="tipinfo">
            <span><img src="./template/images/ticon.png" /></span>
            <div class="tipright">
            <p>是否确认对信息的修改 ？</p>
            <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
            </div>
            <div class="tipbtn">
            <input name="" type="button"  class="sure" value="确定" />&nbsp;
            <input name="" type="button"  class="cancel" value="取消" />
        </div>
    </div>
    <!--JS弹出窗口End-->

    </div>
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</body>
</html>
